<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= farm.name %></title>
  </head>
  <body>
    <h1><%=farm.name %></h1>
    <ul>
      <li><h3>City: <%=farm.city%></h3></li>
      <li><h3>Email: <%=farm.email%></h3></li>
   </ul>
   <h2>Products available</h2>
   <ul>
     <% for (let product of farm.products) {%> 
     <li><a href="/products/<%= product._id%>"><b><%= product.name %></a></b></li>
     <%  } %>
   </ul>
    <br>
    <h2><a href="/farms">Back to All Farms</a></h2>
    
   <br>
    <h1><a href="/farms/<%=farm._id%>/products/new">Add New Product</a></h1>
  <br>
    <h1><a href="/products">Show All Products</a></h1>
    <form action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
    <button>DELETE</button>
    </form>


    
  
  </body>
</html>
